{% extends "main_layout.html" %}

{% block title %}
  Setttings
{% endblock %}

{% block main %}
<br>
<div class="w3-margin w3-card my_light_blue">
    <div class="w3-container my_dark_blue">
        <h2>Change Password</h2>
    </div><br>

    <form action="/password" method="POST" class="w3-container">
        <label class="w3-text-pink"><b>Current Password</b></label>
        <input class="w3-input w3-border w3-light-grey w3-animate-input" name="old_password" type="password" style="width:30%"><br>

        <label class="w3-text-pink"><b>New Password</b></label>
        <input class="w3-input w3-border w3-light-grey w3-animate-input" name="new_password" type="password" style="width:30%"><br>

        <label class="w3-text-pink"><b>Confirm New Password</b></label>
        <input class="w3-input w3-border w3-light-grey w3-animate-input" name="confirmation_new" type="password" style="width:30%"><br>

        <button class="w3-btn w3-blue w3-hover-pink" type="submit">Confirm</button>
    </form><br>
</div>

{% endblock %}